<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="assets/stylesheets/static_pages.css.scss">
  <title>Blog | Home </title>
</head>  
  <body>
  <h1>Welcome to the Movies Blog</h1>

  <p class="center_align">
    <% (0..2).each do |i|  %>
    <div>
    <%= @journals[i].name %><br/>
    </div>
    <div>
    <%= @journals[i].blog_contents%><br/>
    </div>
    <div>
    <%= @movie["movies"][0]["title"] %>
    </div>
    <div>
    <%= image_tag @movie["movies"][0]["posters"]["profile"] %><br/><br/>
    </div>
    <div>
    <pre><%= @movie["movies"][0]["synopsis"] %></pre>
    </div>

    <div>
      <pre><%= @plot['overview'] %></pre>
    </div>
    <% end %>
  </p>
</body>
<footer>

</footer>
</html>