<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/static_pages.css.scss"/>
  <title>Blog | Home </title>
</head>  
  <body>
  <h1 class="welcome">Welcome to the Movies Blog</h1>
  <p>
<div class="panel panel-primary" id="align_center">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @journals[0].name %></h3>
  </div>
  <div class="panel-body">
    <%= @journals[0].blog_contents%>
  </div>
  <div class="panel-footer"><%= @display_plot_zero['overview'] %></div>
</div>
<div class="panel panel-primary" id="align_center">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @journals[1].name %></h3>
  </div>
  <div class="panel-body">
    <%= @journals[1].blog_contents%>
  </div>
  <div class="panel-footer"><%= @display_plot_one['overview'] %></div>
</div>
<div class="panel panel-primary" id="align_center">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @journals[2].name %></h3>
  </div>
  <div class="panel-body">
    <%= @journals[2].blog_contents%>
  </div>
  <div class="panel-footer"><%= @display_plot_two['overview'] %></div>
</div>
  </p>
</body>
<footer>

</footer>
</html>