<%= provide(:title, "Sign Up")%>

<h1>Sign In</h1>

<%= form_for(:user) do |s| %>

 <%# render 'shared/error_messages', object: @s %> 

  <div>
    <%= s.label :name %>
    <%= s.text_field :name %>
  </div>
  <br/>

  <div>
    <%= s.label :email %>
    <%= s.text_field :email %>
  </div>
  <br/>

  <div>
    <%= s.label :password %>
    <%= s.password_field :password%>
  </div>
  <br/>

  <div>
    <%= s.label :password_confirmation %>
    <%= s.password_field :password_confirmation%>
  </div>
  <br/>
  
  <div>
    <%= s.submit 'Done' %>
  </div>
<% end %> 

<%# link_to "Delete", s.first, method: :delete %>
