<!DOCTYPE html>
<html><head>
<%= provide(:title, "Sign In")%>

</head>
<h1 class="welcome">Sign In</h1>

<%# form_for(:user) do |s| %>
<%= form_for(:session, url: sessions_path) do |s| %>

 <%# render 'shared/error_messages', object: @s %> 
  <div class="welcome">
    <div>
      <%= s.label :email %>
      <%= s.text_field :email %>
    </div>
    <br/>

    <div class="welcome">
      <%= s.label :password %>
      <%= s.password_field :password%>
    </div>
    <br/>
    
    <div class="welcome">
      <%= s.submit 'Done' %>
    </div>
  </div>
<% end %> 

<%# link_to "Delete", s.first, method: :delete %>
