<%= provide(:title, "Sign Up")%>

<h1>New Blog</h1>

<%= form_for(@journal) do |j| %>

 <%# render 'shared/error_messages', object: @journal %> 

 <div>
  <%= j.label :name %>
  <%= j.text_field :name %>
 </div>

  <div>
    <%= j.label :blog_contents %>
    <%= j.text_field :blog_contents %>
  </div>
  <br/>
  
  <div>
    <%= j.submit 'Done' %>
  </div>

<% end %> 

<%# link_to "Delete", Journal.first, method: :delete %>
