<%= provide(:title, "Sign Up")%>

<h1>Sign In</h1>

<%= form_for(@journal) do |journal| %>

 <%# render 'shared/error_messages', object: @journal %> 

  <div>
    <%= journal.label :name %>
    <%= journal.text_field :name %>
  </div>
  <br/>

  <div>
    <%= journal.label :email %>
    <%= journal.text_field :email %>
  </div>
  <br/>

  <div>
    <%= journal.label :password %>
    <%= journal.password_field :password%>
  </div>
  <br/>

  <div>
    <%= journal.label :password_confirmation %>
    <%= journal.password_field :password_confirmation%>
  </div>
  <br/>
  
  <div>
    <%= journal.submit 'Done' %>
  </div>
<% end %> 

<%# link_to "Delete", Journal.first, method: :delete %>
