<!DOCTYPE html>
<html>
<head>
   <title>Blog | <%yield(:title) %> </title> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Makes it for mobile -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>
  true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
  <%= render 'layouts/navigation' %>
</header>
<body>
  
  <%= debug(params) if Rails.env.development? %>
<%= flash[:notice] %>

<%= yield %>


    <!--</div>
    </div>
  </div> -->

</body>
</html>
